flows (1).json
[{"id":"65c5034f.84014c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"836d3784.62b628","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"504b3608.4749f8","type":"ui_group","z":"","name":"Default","tab":"836d3784.62b628","order":1,"disp":true,"width":"6","collapse":false},{"id":"edda27db.342228","type":"ui_form","z":"65c5034f.84014c","name":"","label":"","group":"504b3608.4749f8","order":0,"width":0,"height":0,"options":[{"label":"preg","value":"preg","type":"number","required":true,"rows":null},{"label":"plas","value":"plas","type":"number","required":true,"rows":null},{"label":"pres","value":"pres","type":"number","required":true,"rows":null},{"label":"skin","value":"skin","type":"number","required":true,"rows":null},{"label":"test","value":"test","type":"number","required":true,"rows":null},{"label":"mass","value":"mass","type":"number","required":true,"rows":null},{"label":"pedi","value":"pedi","type":"number","required":true,"rows":null},{"label":"age","value":"age","type":"number","required":true,"rows":null}],"formValue":{"preg":"","plas":"","pres":"","skin":"","test":"","mass":"","pedi":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":280,"wires":[["a5be0d77.e2a8d"]]},{"id":"a5be0d77.e2a8d","type":"function","z":"65c5034f.84014c","name":"Pre Token","func":"global.set(\"preg\",msg.payload.preg)\nglobal.set(\"plas\",msg.payload.plas)\nglobal.set(\"pres\",msg.payload.pres)\nglobal.set(\"skin\",msg.payload.skin)\nglobal.set(\"test\",msg.payload.test)\nglobal.set(\"mass\",msg.payload.mass)\nglobal.set(\"pedi\",msg.payload.pedi)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"lxKvUPQRthVr45g2ukqq0nHwR3AZIbgOvmy3He1A1pFL\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":280,"wires":[["63651334.e6161c"]]},{"id":"63651334.e6161c","type":"http request","z":"65c5034f.84014c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":280,"wires":[["ffe4afe4.75a6c"]]},{"id":"ffe4afe4.75a6c","type":"function","z":"65c5034f.84014c","name":"Prediction","func":"var preg = global.get('preg')\nvar plas = global.get('plas')\nvar pres = global.get('pres')\nvar skin = global.get('skin')\nvar test = global.get('test')\nvar mass = global.get('mass')\nvar pedi = global.get('pedi')\nvar age = global.get('age')\nvar token=msg.payload.access_token\nvar instance_id=\"2dab35e8-215f-4361-8bbd-ec1ab66fcf47\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"preg\", \" plas\", \"pres\", \"Skin \", \"test\", \"mass\", \"pedi\", \"age\"],\"values\":  [[preg,plas,pres,skin,test,mass,pedi,age]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":280,"wires":[["a204a3e5.f014f"]]},{"id":"a204a3e5.f014f","type":"http request","z":"65c5034f.84014c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/aee8db09-b73e-4d44-b5bf-2a65c2260530/predictions","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":280,"wires":[["956a84c.2e5e378","afe36a3b.bdff98"]]},{"id":"956a84c.2e5e378","type":"debug","z":"65c5034f.84014c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":160,"wires":[]},{"id":"afe36a3b.bdff98","type":"function","z":"65c5034f.84014c","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":160,"wires":[["89c3ea95.8679c8"]]},{"id":"89c3ea95.8679c8","type":"ui_text","z":"65c5034f.84014c","group":"504b3608.4749f8","order":1,"width":0,"height":0,"name":"","label":"class","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":360,"wires":[]}]